@font-face {
    font-family: 'zongyi';
    src: url("./zongyi.ttf");
}
@font-face {
    font-family: 'haibao';
    src: url("./haibao.ttf");
}
@font-face {
    font-family: 'suxin';
    src: url("./suxin.ttf");
}